// Alerta
$sucesso: #13AB46;
$alerta: #EBCB2C;
$perigo: #FF0000;

// Tons de Azul
$azul-claro: #007BFF;
$azul: #0052AA;
$azul-escuro: #1F3544;

// Tons de Cinza
$cinza1: #F5F5F5;
$cinza2: #BCBCBC;
$cinza3: #6C757D;
$cinza4: #656D75;
$cinza5: #4C4B4B;